.about-post-content{
    background-color: white
}

.social b{
    
    font-style: italic;
    padding: 10px;
}

.social{
    display: flex;
    flex-direction: row;
}

.about-title{
    color: rgb(224, 126, 143);
    font-style: italic;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#first-div, .second-div{
    display: flex;
    flex-direction: row;
}

#first-right img{
    border-radius: 20px;
    width: 20em;
    height: 30em;
    margin-left: 100px;
}

