.about-post-content{
    background-color: white;
}

.social b{
    font-family: var(--font1);
    font-style: italic;
    padding: 10px;
}

.social{
    display: flex;
    flex-direction: column;
}

#about-title{
    color: rgb(224, 126, 143);
    font-style: italic;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#first-para{
    background-image: url(background.jpg);
}

.first-div, .second-div{
    display: flex;
    flex-direction: row;
}

.first-right img{
    border-radius: 200px;
    height: 20em;
    width: 20em;
    margin-left: 50vw;
}

.second-left img{
    border-radius: 200px;
    height: 20em;
    width: 20em;
    margin-right: 50vw;
}

.second-right{
    margin-right: 20px;
    border-color: black;
}