/* *{
    margin: 0;
    padding: 0;
} */

body{
    background-color: rgb(251, 253, 251);
}

.navleft{
    font-size: 20px;
    display: flex;
    
}

.navleft span{
    font-size: 30px;
    padding-bottom: 10px;
    font-style: bold;
}

.navleft ul{
    display: flex;
    align-items: center;
    font-size: 18px;
    margin: 0 77px;
}

.navleft ul li{
    list-style: none;
    margin: 0 14px;
    font-family:var(--font1);
    transition: all 0.3s, ease-in-out;
}

.navleft ul li a{
    text-decoration: none;
    color: black;
}

.navleft ul li a:hover{
    color: var(--main-bg-color);
    font-weight: bolder;
    
}

.navigation{
    margin-top: 25px;
    height: 74px;
    display: flex;
    justify-content: space-between;
    align-items: center;
} 

.title1{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-style: oblique;
    font-size: larger;
    color: brown;
}

#faq{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: x-large;
    font-style: oblique;
    color: rgb(117, 29, 29);
}

#query{
    margin-left: 400px;
    margin-top: 5px;
}

.footer{
    height: 30px;
    background-color: black;
    display: flex;
    align-items: center;
    color:white;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.all-images{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    /* height: 50px;
    width: 30px; */
}